@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@font-face {
  font-family: 'Monotype Corsiva';
  src: url("./font/MTCORSVA.TTF");
  font-weight: normal;
  font-style: normal;
}

#page {
  z-index: 0;
  background-color: white;
  padding: 1rem 1.5rem;
}

#page #frame {
  background-color: white;
  height: 412.46px;
  width: 577.77px;
}

#page #frame1 {
  background-color: white;
  height: 412.46px;
  width: 533.17px;
}

#page #top-content {
  padding: 9px 8px 0px 8px;
}

#page #logo img {
  width: 55px;
  height: 53px;
}

#page .no-num {
  font-size: 12px;
}

#page .cpn-name {
  font-size: 26px;
}

#page #content span {
  border-bottom: 1px solid black;
  display: inline-block;
  line-height: 0.75;
}

#page #main-content p {
  font-size: 14.5px;
}

#page #main-content strong {
  font-size: 18px;
}

#page .p-5-3 {
  padding: 3.5rem 4rem;
}

#page .py-1d1 {
  padding: 0.15rem;
}

#page .col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

#page #contentPoppins {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

#page #contentPoppins p {
  font-family: 'Poppins', sans-serif;
  font-size: 9px;
}

.border-1-s-b {
  border: 1px solid black;
}

.bt-1-dotted {
  border-top: 1px dotted;
}

.bt-1-solid {
  border-top: 1px solid;
}

.TimeNewRoman {
  font-family: "Times New Roman", Times, serif;
}

.MonotypeCorsiva {
  /* font-family: "Times New Roman", Times, serif; */
  font-family: 'Monotype Corsiva', serif;
}

.Poppins {
  font-family: 'Poppins', sans-serif;
}

.fs-7d5px {
  font-size: 7.5px;
}

.fs-8px {
  font-size: 8px;
}

.fs-9px {
  font-size: 9px;
}

.lh-1-dot-1 {
  line-height: 1.1;
}

.lh-1-dot-15 {
  line-height: 1.15;
}

.lh-1-dot-5 {
  line-height: 1.5;
}
/*# sourceMappingURL=style.css.map */